body {
	background-color: rgb(195, 201, 211);
}
#project {
	background-color: rgb(195, 201, 211);
}
#proj_title {
	background-color: rgb(180, 190, 207);
	margin: 0em;
}
#proj_lang {
	background-color: rgb(195, 201, 211);
	font-weight: lighter;
	font-variant: small-caps;
	margin-top: 0em;
	margin-left: 1em;
}
#proj_date {
	background-color: rgb(195, 201, 211);
	font-weight: lighter;
	font-variant: small-caps;
	margin-top: 0em;
	margin-left: 1em;
	margin-bottom: 0em;
}